page {
  height: 100vh;
  background-color: #efefef !important;
  padding: 16rpx;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  > view {
    &:nth-child(n + 2) {
      margin-top: 16rpx;
    }
  }
}

// 轮播图
.swiper {
  border-radius: 10rpx;
  overflow: hidden;

  swiper {
    height: 360rpx;
    background-color: lightseagreen;
    
    swiper-item {

      image {
        border-radius: 10rpx;
        width: 100%;
        height: 100%;
      }

    }

  }
}

// 信息
.info {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 16rpx;
  border-radius: 10rpx;
  font-size: 24rpx;
}

// 物品导航
.good-nav {

  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20rpx 16rpx;
  border-radius: 10rpx;

  view {

    navigator {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    image {
      width: 100rpx;
      height: 100rpx;
    }

    text {
      font-size: 24rpx;
      margin-top: 12rpx;
    }
  }
}

// 推荐商品
.good-hot {

  background-color: white;
  padding: 16rpx;
  border-radius: 10rpx;
  font-size: 24rpx;


  .scroll-x {
    width: 100%;
    white-space: nowrap;
  }

  view {
    display: inline-block;
    width: 320rpx;
    height: 380rpx;
    margin-right: 16rpx;

    &:last-child {
      margin-right: 0;
    }

    .good-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      text {
        &:nth-of-type(1) {
          font-weight: bold;
        }
      }

    }

    image {
      border-radius: 10rpx;
      width: 100%;
      height: 320rpx;
    }
  } 


}